


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}


body {
  background-image: url("..//icons/collage_9_16_recortado.jpg");
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  cursor: url(../icons/mouse-removebg-preview.png), auto;
}


main {
  flex: 1;
}


.card-group {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 170px;
}

.card {
  border: none;
  background: none;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
}

.card-img-container {
  position: relative;
  overflow: hidden;
  max-height: 550px;
  border: 2px solid #000;
}
.card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.card-img-container .card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.card-img-container h5,
.card-img-container p {
  font-family: "Lucida Sans";
  margin: 0;
}
.card-img-container h5 {
  font-size: 22px;
}
.card-img-container p {
  font-size: 16px;
}


nav.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.navbar .navbar-brand img {
  max-height: 100px;
}
nav.navbar .navbar-nav {
  margin-left: 75%;
  display: flex;
  gap: 1rem;
}
nav.navbar .nav-link {
  font-size: 1rem;
  color: #0CBCBF;
  font-family: "Lucida Sans";
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.3s ease;
}
nav.navbar .nav-link:hover {
  color: rgb(150, 75, 0);
}


footer {
  width: 100%;
  background-color: #0CBCBF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  margin-top: auto; 
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  gap: 40px;
}

footer .footer-text {
  font-family: "Lucida Sans", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer .map-container iframe {
  width: 250px;
  height: 100px;
  border: 0;
}




@media (max-width: 992px) {
  .card-group {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
  }
}


@media (max-width: 576px) {
  .card-group {
    grid-template-columns: 1fr;
    padding: 0; 
  }

  .card-img-container {
    border: none;
  }

  .card-img-container img {
    width: 100%;
    height: auto; 
  }

  footer .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  footer .map-container iframe {
    width: 90vw;
    height: 200px;
  }
}
/*
